* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("mountain.jpg");
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.container {
  display: flex;
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

nav {
  display: flex;
  margin-top: 2%;
  /* border: 1px solid white; */
  align-items: center;
}

a {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  /* border: 1px solid red; */
}

a:hover {
  color: white;
}

h1 {
  position: relative;
  bottom: 1em;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3em;
}

button {
  margin-top: 12em;
  color: white;
  background-color: transparent;
  padding: 0.8em 4em;
  border: 2px solid white;
  border-radius: 150px;
  font-size: 1.4em;
  text-align: center;

}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.right-links{
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: auto;
  /* border: 1px solid red; */
  font-size: 1.4em;

}

.website-name {
  font-family: "Montserrat", sans-serif;
  margin-left: 2em;
  font-size: 2.5em;

}
